<%= render 'bool/list', user, book: @book %>

<h1>Books</h1>

<table>
  <thead>
    <th>Titele</th>
    <th>Opinion</th>
  </thead>
  
  <tbody>
    <% @book.each do |book| %>
      <tr>
        <%= link_to user_path(@user.id) do %>
          <td><%= image_tag @user.profile_image(100,100) %></td>
        <% end %>
        
        <%= link_to book_path(book.id) do %>
          <td><%= book.title %></td>
        <% end %>
          <td><%= book.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>